.photo {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  position: relative;
}
.basket {
  position: absolute;
  width: 50px;
  height: 55px;
  bottom: 10%;
  right: 43%;
  border-radius: 5%;
  cursor: pointer;
}
.basket:hover, .basket:focus {
  box-shadow: 0px 5px 6px white, 0px 5px 6px white;
}

@media (min-width: 768px) and (max-width: 979px) {
  .main-container .flex-container .flex-child_1 .carousel-wrapper
  .carousel .carousel-inner .carousel-item img{
    width: 250px;
    height: 250px;
  }
  .main-container .flex-container .flex-child_1 .carousel-wrapper .carousel .carousel-inner .carousel-item .basket {
    width: 30px;
    height: 35px;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .main-container .flex-container .flex-child_1 .carousel-wrapper
  .carousel .carousel-inner .carousel-item .photo{
    width: 150px;
    height: 150px;
  }
  .main-container .flex-container .flex-child_1 .carousel-wrapper .carousel .carousel-inner .carousel-item .basket {
      width: 15px;
      height: 20px;
    }

}
@media (min-width: 481px) and (max-width: 767px) {
  .main-container .flex-container .flex-child_1 .carousel-wrapper
  .carousel .carousel-inner .carousel-item .photo{
    width: 200px;
    height: 200px;
  }
  .main-container .flex-container .flex-child_1 .carousel-wrapper .carousel .carousel-inner .carousel-item .basket {
    width: 25px;
    height: 30px;
  }
}