.chat-wrapper {
  width: 400px;
  height: 600px;
  background: beige;
  border-radius: 8px;
  border: 2px solid black;
  position: relative;
  overflow: scroll;

  .header {
    height: 40px;
    background: darkseagreen;
    color: beige;
    font-family: "Apple Chancery";
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    border-radius: 4px;
    border-bottom: 1px darkgreen solid;
    padding: 6px 8px;

    .back-button:hover, .back-button:focus {
      filter: drop-shadow(3px 3px 7px white);
    }
  }
  .messages-container {
    height: 460px;
    overflow: scroll;
    .message {
      margin: 16px;
      display: flex;
      gap: 16px;
      overflow: scroll;

      img {
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        color: saddlebrown;
        background: whitesmoke;
        min-height: 20px;
        width: 80%;
        padding: 4px 10px;
        border-radius: 4px;
        align-items: center;
        word-wrap: break-word;
      }
    }
  }
  .type-zone {
    width: 96%;
    min-height: 25px;
    background: white;
    position: absolute;
    bottom: 1%;
    border-radius: 4px;
    border: 1px darkgreen solid;
    right: 2%;
    outline: none;
    padding: 8px 65px 8px 10px;
    color: brown;
  }
  .send-sms {
   position: absolute;
    bottom: 3%;
    right: 6%;
    background: transparent;
    outline: none;
    border: none;
  }
  .send-sms:hover {
  transform: rotate(90deg);
    animation: 2s ease infinite;
    animation-name: spin;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .send-sms:focus img{
    cursor: pointer;
    filter: drop-shadow(6px 6px 12px rgba(0,0,0,0.5));
  }
  .send-sms:focus{
    animation: none;
  }
}
