.main-container {
  background: mistyrose;
  width: 80%;
  height: 90vh;
  border-radius: 6px;
  font-family: "Apple Chancery";
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: solid 3px beige;
  overflow: scroll;

  .title {
    color: rosybrown;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;

    .chat-button {
      border: none;
      background-color: #DAA521;
      padding: 12px 48px 12px 24px;
      border-radius: 4px;
      color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 24px center;
      animation: glowing 1s ease infinite;
    }

    .flex-child_1 {
      margin-left: 100px;

      .uploading-label {
        margin: 26px 36px;

        .uploading-button {
          border: 1px solid brown;
          width: 40px;
          height: 16px;
          background: darkgreen;
          color: white;
          margin: 4px;
          padding: 6px;
          font-size: 18px;
          cursor: pointer;
          border-radius: 8px;
        }

        .uploading-button:hover {
          box-shadow: 0 3px 5px rgb(0, 0, 0, 0.25), 0 5px 5px rgb(0, 0, 0, 0.22);
        }

        .uploading-input {
          cursor: pointer;
          visibility: hidden;
          color: transparent;
        }
      }

      .carousel-wrapper {
        width: 400px;
        height: 400px;
        margin: 26px 36px;
        border: 10px double darkgreen;
        overflow: hidden;
      }
      .select-button {
        margin: 26px 36px;
        border: 1px solid brown;
        background: orange;
        color: brown;
        box-shadow: 0 3px 5px rgb(0, 0, 0, 0.25), 0 5px 5px rgb(0, 0, 0, 0.22);;
        border-radius: 17px;
      }
      .select-button:hover, .select-button:focus {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        background: yellow;
        color: black;
      }
    }

    .flex-child_2 {
      display: flex;
      flex-flow: column;

      .user-info {
      color: darkgreen;
        font-size: 18px;
        font-weight: bold;
        margin: 50px 0;
      }

      .link-button {
        align-items: center;
        margin-right: 240px;
        margin-top: 80px;
      }

    @keyframes glowing {
      0% {
        background-color: sandybrown;
        box-shadow: 0 0 5px coral;
      }
      100% {
        background-color: rosybrown;
        box-shadow: 0 0 5px orange;
      }
    }

    .chat-button:hover {
      animation: none;
    }
  }
  }
}

@media (min-width: 979px) and (max-width: 1378px){
  .container-parent .main-container {
    width: 90%;
  }
  .container-parent .main-container .flex-container .flex-child_1 {
    margin-left: 0;
    width: 60%;
  }
  .main-container .flex-container .flex-child_1 .carousel-wrapper {
    overflow: hidden;
  }
  .container-parent .main-container .flex-container .flex-child_2 .link-button .chat-button{
    height: 60px;
    margin-right: 30px;
    width: 190px;
}
}

@media (min-width: 768px) and (max-width: 979px) {
  .container-parent .main-container .flex-container .flex-child_1 {
    margin-left: 0;
    width: 60%;
  }
  .container-parent .main-container .flex-container .flex-child_2 .user-info {
    margin-left: 30px;
    margin-right: 30px;
  }
  .container-parent .main-container .flex-container .flex-child_2  {
    width: 40%;
  }
  .container-parent .main-container .flex-container .flex-child_1 .uploading-label{
    margin-bottom: 0;
  }
  .container-parent .main-container .flex-container .flex-child_2 .link-button .chat-button {
    height: 40px;
    margin: 0 30px;
    width: 190px;
    padding: 4px 24px 4px 4px;
  }
  .main-container .flex-container .flex-child_1 .carousel-wrapper {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  .container-parent .main-container {
    width: 95%;
  }
  .container-parent .main-container .flex-container .flex-child_1{
    margin-left: 0;
    width: 60%;
  }
  .container-parent .main-container .flex-container .flex-child_1 .uploading-label{
    margin-bottom: 0;
  }
  .container-parent .main-container .flex-container .flex-child_2 .user-info {
    margin-left: 30px;
    margin-right: 30px;
  }
  .container-parent .main-container .flex-container .flex-child_2 .link-button {
    margin-right: 0;
  }
  .container-parent .main-container .flex-container .flex-child_2  {
   width: 40%;
  }
  .container-parent .main-container .flex-container .flex-child_2 .link-button {
    margin-right: 0;
  }
  .container-parent .main-container .flex-container .flex-child_2 .link-button .chat-button {
    height: 40px;
    margin: 0 10px;
    width: 160px;
    font-size: 12px;
    padding: 4px 24px 4px 4px;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .container-parent .main-container .flex-container .flex-child_2 .link-button .chat-button {
    height: 40px;
    margin: 5px;
    width: 100px;
    font-size: 12px;
  }
  .container-parent .main-container .flex-container .flex-child_1 .uploading-label .uploading-button {
    font-size: 12px;
  }
  .container-parent .main-container .flex-container .flex-child_1 .select-button {
    font-size: 12px;
  }
  .container-parent .main-container .flex-container .flex-child_2 .link-button {
    margin-top: 0;
  }
  .container-parent .main-container .flex-container .flex-child_2 .user-info {
    margin-left: 0;
    font-size: 14px;
  }
  .container-parent .main-container .flex-container {
    margin-left: 2px;
    width: 100%;
  }
  .container-parent .main-container .flex-container .flex-child_1 {
    width: 60%;
  }
  .container-parent .main-container .flex-container .flex-child_2 {
    width: 40%;
  }
  .main-container .flex-container .flex-child_1 .carousel-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .main-container .flex-container .flex-child_1 .carousel-wrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
}