.locales-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 14px;
  gap: 14px;
  color: green;

  .locale {
    display: flex;
    flex-flow: column;

    span:focus, span:hover {
      color: limegreen;
      cursor: pointer;
    }

    hr {
      color: limegreen;
      height: 3px;
    }
  }

}

.registration {
  text-align: center;
  margin-bottom: 30px;

  .registration_link {
    text-decoration: none;
    color: brown;
    font-weight: bold;
    border: 1px solid;
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.25), 0 3px 3px rgb(0, 0, 0, 0.22);
  }

  .registration_link:hover {
    text-decoration: none;
    background: brown;
    color: white;
    border: 3px solid darkgoldenrod;
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.25), 0 5px 5px rgb(0, 0, 0, 0.22);
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .centered-wrapper form .form-wrapper .flex-parent .flex-son .flex-grandson .login-input {
    width: 160px;
  }
  .centered-wrapper form .form-wrapper .flex-parent .flex-son .flex-grandson .form-label {
    width: 84px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container-parent .centered-wrapper {
    width: 80%;
  }
  .centered-wrapper form .form-wrapper .flex-parent .flex-son .flex-grandson .login-input {
    width: 160px;
  }
  .centered-wrapper form .form-wrapper .flex-parent .flex-son .flex-grandson .form-label {
    width: 84px;
  }
}

@media (max-width: 481px) {
  .container-parent .centered-wrapper {
    width: 96%;
  }
  .centered-wrapper form .form-wrapper .flex-parent .flex-son .flex-grandson .form-label {
   margin-left: 24px;
  }
  .centered-wrapper form .form-wrapper .flex-parent .flex-son .flex-grandson .login-input {
    margin-right: 14px;
    width: 140px;
  }
}
