.flex-parent {
  display: flex;
  flex-flow: column;
  margin-right: 15%;

  .flex-son {
    display: flex;
    flex-flow: column;
    margin: 12px 0px;

    .flex-grandson {
      display: flex;
      flex-flow: row;
      gap: 12px;

      .form-label {
        width: 90px;
        padding-left: 10px;
      }

      .registration-input {
        min-height: 24px;
        padding: 0 6px;
      }
    }
  }
}

.container-parent .centered-wrapper.registration .title {
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 979px) {
  .container-parent .centered-wrapper.registration{
    width: 80%;
  }
}
@media (max-width: 481px) {
  .container-parent .centered-wrapper {
    width: 96%;
  }
  .container-parent .centered-wrapper form .form-wrapper .flex-parent .flex-son .flex-grandson .registration-input {
    width: 140px;
  }
}