.container-parent {
  background-image: url("../pictures/background.jpeg");
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-image: url('https://ichip.ru/images/cache/2020/5/8/fit_960_530_false_crop_3416_1921_0_63_q90_405832_34cca704a42738bab679722fd.webp');

  .centered-wrapper {
  background-color: #faf8e6;
  width: 40%;
  min-height: 45vh;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 10px 10px;
  color: brown;
  border: solid 6px lemonchiffon;

   .title-login {
    margin: 0 auto;
    font-weight: bold;
     font-family: "Apple Chancery", 'Concert One', serif;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
  }

    @font-face {
   font-family: "Apple Chancery";
      font-style: normal;
      font-weight: 400;
      src: local('Apple Chancery'), url(".././Apple Chancery.ttf") format('ttf');
    }

   .form .form-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 70px;

     label {
      font-family: "Apple Chancery";
      font-weight: bold;
    }

     input {
      width: 220px;
      min-height: 24px;
      border-radius: 4px;
      box-shadow: 0 1px 3px rgb(0,0,0,0.25), 0 3px 3px rgb(0,0,0,0.22);
      border: 1px solid lemonchiffon;
      font-family: "Gurmukhi MN";
      padding: 3px 6px;
       color: saddlebrown;
    }

    .redBorders {
      border: 1.5px solid red;
    }

     input:focus {
      outline: none;
      box-shadow: 0 3px 5px rgb(0,0,0,0.25), 0 5px 5px rgb(0,0,0,0.22);
    }

     button {
      width: 140px;
      height: 30px;
      margin-top: 30px;
      border-radius: 30px;
      background: darkgoldenrod;
      color: white;
      box-shadow: 0 1px 3px rgb(0,0,0,0.25), 0 3px 3px rgb(0,0,0,0.22);
      border: 1px solid wheat;
      font-family: "Gurmukhi MN";
      font-weight: bold;
      margin-bottom: 30px;
    }

     button:hover {
      box-shadow: 0 3px 5px rgb(0,0,0,0.25), 0 5px 5px rgb(0,0,0,0.22);
      cursor: pointer;
      transform: scale(1.1);
    }

     .login {
      margin-left: 12px;
    }

     .password {
      margin-left: 18px;
    }
  }
}
}
