.error-message {
  color: red;
  font-family: "Apple Chancery";
  font-size: 14px;
  height: fit-content;
  margin-top: 6px;
}

.container-parent .centered-wrapper.registration .error-message {
  margin-left: 30%;
  width: 200px;
}

.container-parent .centered-wrapper .form-wrapper.login .error-message {
  margin-left: 30%;
  width: 200px;
  text-align: center;
}